@model IEnumerable<ReviewModel>
@using ReviewApp.Models

@{
    ViewData["Title"] = "Review creator";
}
<h1>Create a new review</h1>

<p>
    <a asp-action="Create">Create New Review</a>
</p>
<table class="table">
    
</table>